#timeline_line {
	position: absolute;
	z-index: -20;
	height: calc(100% + 8em);
	width: 80%;
	left: -8px;
	margin-top: -4em;
	margin-bottom: -4em;
	border-right: 16px solid #3962b0;
}

@media screen and (min-width: 992px) {
	#timeline_line {
		width: 50%;
	}
}

#timeline_events {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.timeline_event {
	position: relative;
	width: 70%;
	margin-top: 1em;
	margin-bottom: 1em;
	color: #3962b0;
}

.timeline_event:nth-child(odd) {
	margin-left: 0;
	margin-right: auto;
}
.timeline_event:nth-child(even) {
	margin-left: 0;
	margin-right: auto;
}

.timeline_event:first-of-type {
	margin-top: 0;
}

.timeline_event:last-of-type {
	margin-bottom: 0;
}

@media screen and (min-width: 992px) {
	.timeline_event {
		width: calc(50% - 2em);
	}
}

@media screen and (min-width: 992px) {
	.timeline_event {
		width: calc(50% - 4em);
	}
	.timeline_event:nth-child(even) {
		margin-right: 0;
		margin-left: auto;
	}
}

@media screen and (min-width: 1200px) {
	.timeline_event {
		width: calc(50% - 8em);
	}
}

.timeline_event_header {
	position: relative;
	padding: 0.5em;
	color: #fff;
	background-color: #3962b0;
	border-radius: 25%;
}
.timeline_event_bubble {
	z-index: -10;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	text-transform: uppercase;
	background-color: #f00;
	border-radius: 25%;
	
}

.timeline_event_date {
	z-index: -10;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	font-size: 85%;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #2fb3e7;
	border-radius: 25%;
}

.timeline_event .timeline_event_date {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	margin-left: 30%;
	padding-right: 1em;
	text-align: right;
	border-right: 5px solid #fff;
}

@media screen and (min-width: 992px) {
	.timeline_event:nth-child(odd) .timeline_event_date {
		margin-left: 40%;
	}
	.timeline_event:nth-child(even) .timeline_event_date {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		margin-left: -40%;
		padding-left: 1em;
		text-align: left;
		border-left: 5px solid #fff;
	}
}

.timeline_event_body {
	padding: 1em;
	background: #757574; /* Old browsers */
	background: -moz-linear-gradient(top, #757574 0%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #757574 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #757574 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757574', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	overflow: hidden;
	-webkit-border-radius: 10%x;
	-moz-border-radius: 10%;
	border-radius: 10%;
}

.timeline_event_body > p {
	text-align: justify;
}

.shrink {
	-webkit-animation: shrink .6s forwards;
	-moz-animation: shrink .6s forwards;
	animation: shrink .6s forwards;
}

@keyframes shrink {
	0% {
		opacity: 1;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}

@-webkit-keyframes shrink {
	0% {
		opacity: 1;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}

@-moz-keyframes shrink {
	0% {
		opacity: 1;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}

.grow {
	-webkit-animation: grow .6s forwards;
	-moz-animation: grow .6s forwards;
	animation: grow .6s forwards;
}

@keyframes grow {
	0% {
		opacity: 0;
		height: 0%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

@-webkit-keyframes grow {
	0% {
		opacity: 0;
		height: 0%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

@-moz-keyframes grow {
	0% {
		opacity: 0;
		height: 0%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
